/node_modules
/public/vendor
!/public/vendor/fonts/im_here_for_git_folder_creation
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public/js/app.js
